{% extends 'base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida orci et mauris facilisis dictum. Quisque tincidunt bibendum dolor nec commodo. Fusce faucibus hendrerit rutrum. Maecenas a enim eget nibh ullamcorper sollicitudin. Curabitur faucibus sollicitudin commodo. Maecenas sed diam id nibh maximus scelerisque. Proin id aliquam quam, nec rutrum sem. Nam sodales, augue eget tincidunt tempus, ex lorem bibendum est, sed aliquam lacus nunc nec eros. Etiam efficitur lacus nec arcu feugiat, sed semper diam elementum. Suspendisse nulla mi, efficitur vitae felis sit amet, feugiat porttitor erat. Integer scelerisque mattis est eu tincidunt.</p>
{% endblock content %}